boto3
requests
numpy
scipy
qiskit
cirq
pyquil
pennylane
braket
quantinuum-client
ionq-client
pasqal-client
infleqtion-client
qristal-client
orca-client
quantum-machines-client
seeqc-client
xanadu-client
alice-bob-client
quera-client
iqm-client
rigetti-client